# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.local

# Node / Next.js
node_modules/
.next/
out/

# Docker
*.log

# Editor
.vscode/
.DS_Store

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/sentinel-key.pem

# Ansible
ansible/*.retry